<template>
  <div>
    <fd-button
      :label="$t('auth.logout')"
      @click="actionLogout"
      class="text-white bg-sky-500 hover:bg-sky-700 text-sm"/>
  </div>
</template>

<script>
export default {
  name: 'PageApp',
  methods: {
    actionLogout() {
      const loader = this.$loading.show();
      try {
        this.$store.dispatch('auth/logout');
        this.$router.push('/auth/sign-in');
        loader.hide();
      } catch (e) {
        this.fdActionErrors(e);
        loader.hide();
      }
    },
  },
};
</script>
