@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$font-family: 'Roboto', sans-serif;

html, body, #app {
  height: 100%;
  width: 100%;
  font-family: $font-family;
  background-color: theme('colors.slate.50'); //bg-slate-200
}

.fb-h-100p {
  height: 100%;
}