<template>
  <button
    v-bind="$attrs"
    class="p-3 rounded-md font-bold">
    <span v-if="label">{{label}}</span>
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    label: String,
    color: String,
  },
};
</script>
