<template>
  <label class="block">
    <span class="block font-bold text-slate-700 mb-2 text-sm">
      {{label}}
    </span>
    <input
      v-bind="$attrs"
      :value="modelValue"
      :id="idInput"
      :ref="`ref_${idInput}`"
      :class="{
        'border border-pink-500': hasError,
      }"
      @input="$emit('update:model-value', $event.target.value)"
      class="bg-slate-100 w-full px-3 py-2 rounded-md
        shadow-sm placeholder-slate-400 text-sm
        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500
      " />
    <ul
      v-if="hasError"
      class="list-disc ml-4 mt-2 text-red-400 text-xs">
      <li v-for="(error, i) in errors" :key="i"> {{$t(error)}} </li>
    </ul>
  </label>
</template>

<script>
export default {
  props: {
    label: String,
    modelValue: [String],
    errors: Array,
    idInput: {
      type: String,
      required: true,
    },
  },
  computed: {
    hasError() {
      return this.errors && this.errors.length;
    },
  },
};
</script>
