<template>
  <div class="flex justify-center items-center align w-full h-full">
    <fd-card class="w-full md:w-500px mx-4">
      <h1 class="text-2xl font-bold text-center mb-4">
        {{$t('auth.signin.title')}}
      </h1>
      <h3 class="font-bold text-center my-4 text-gray-400">
        {{$t('auth.signin.subtitle')}}
        <router-link
          :to="{ name: 'SignUp' }"
          class="text-sky-500 hover:text-sky-700">
          {{$t('auth.signin.linkActionSignUp')}}
        </router-link>
      </h3>
      <form
        @submit.prevent="actionSignIn"
        class="space-y-4">
        <fd-input
          v-model="user.email"
          :label="$t('auth.signin.form.email')"
          id-input="email"
          type="text"/>
        <fd-input
          v-model="user.password"
          :label="$t('auth.signin.form.password')"
          id-input="password"
          type="password"/>
        <fd-button
          :label="$t('auth.signin.form.continue')"
          type="submit"
          class="text-white w-full bg-sky-500 hover:bg-sky-700 text-sm"/>
      </form>
      <div class="font-bold text-center my-4 text-gray-400 text-sm">
        {{$t('auth.or')}}
      </div>
      <div class="space-y-4">
        <fd-button
          @click.prevent="actionGoogleSignIn"
          type="button"
          class="text-white w-full bg-slate-100 hover:bg-slate-200">
          <div class="flex justify-center items-center space-x-3">
            <img src="https://preview.keenthemes.com/jet-html-pro/assets/media/svg/brand-logos/google-icon.svg" alt="" width="20">
            <span class="text-slate-500 text-sm">{{$t('auth.signin.form.authGoogle')}}</span>
          </div>
        </fd-button>
      </div>
    </fd-card>
  </div>
</template>

<script>
import auth from './auth';

export default {
  name: 'PageSignIn',
  mixins: [auth],
};
</script>
