<template>
  <div class="flex justify-center items-center align w-full h-full">
    <fd-card class="w-full md:w-500px mx-4">
      <h1 class="text-2xl font-bold text-center mb-4">
        {{$t('auth.signup.title')}}
      </h1>
      <h3 class="font-bold text-center my-4 text-gray-400">
        {{$t('auth.signup.subtitle')}}
        <router-link
          :to="{ name: 'SignIn' }"
          class="text-sky-500 hover:text-sky-700">
          {{$t('auth.signup.linkActionSignIn')}}
        </router-link>
      </h3>
      <div class="my-4">
        <fd-button
          @click.prevent="actionGoogleSignUp"
          class="text-white w-full bg-sky-50 hover:bg-sky-100">
          <div class="flex justify-center items-center space-x-3">
            <img src="https://preview.keenthemes.com/jet-html-pro/assets/media/svg/brand-logos/google-icon.svg" alt="" width="20">
            <span class="text-slate-500 text-sm">{{$t('auth.signup.form.authGoogle')}}</span>
          </div>
        </fd-button>
      </div>
      <div class="flex justify-center items-center my-4 space-x-4">
        <hr class="flex-1">
        <span class="font-bold text-center text-gray-400 text-sm">
          {{$t('auth.or')}}
        </span>
        <hr class="flex-1">
      </div>
      <form
        @submit.prevent="actionSignUp"
        class="grid grid-cols-2 gap-4">
        <fd-input
          v-model="user.fistName"
          :errors="user.fistNameErrors"
          :label="$t('auth.signup.form.fistName')"
          @update:model-value="user.initErrors()"
          type="text"
          id-input="fistName"
          class=""
        />
        <fd-input
          v-model="user.lastName"
          :errors="user.lastNameErrors"
          :label="$t('auth.signup.form.lastName')"
          @update:model-value="user.initErrors()"
          type="text"
          id-input="lastName"
          class=""
        />
        <fd-input
          v-model="user.email"
          :errors="user.emailErrors"
          :label="$t('auth.signup.form.email')"
          @update:model-value="user.initErrors()"
          type="text"
          id-input="email"
          class="col-span-2"
        />
        <fd-input
          v-model="user.password"
          :errors="user.passwordErrors"
          :label="$t('auth.signup.form.password')"
          @update:model-value="user.initErrors()"
          type="password"
          id-input="password"
          class="col-span-2"
        />
        <fd-input
          v-model="user.confirmPassword"
          :errors="user.confirmPasswordErrors"
          :label="$t('auth.signup.form.confirmPassword')"
          @update:model-value="user.initErrors()"
          type="password"
          id-input="confirmPassword"
          class="col-span-2"
        />
        <fd-button
          :label="$t('auth.signup.form.continue')"
          type="submit"
          class="text-white w-full bg-sky-500 hover:bg-sky-700 col-span-2 text-sm"/>
      </form>
    </fd-card>
  </div>
</template>

<script>
import auth from './auth';

export default {
  name: 'PageSignUp',
  mixins: [auth],
};
</script>
